td {
    padding: 0 0.5em;
    border-left: 1px solid rgb(70, 130, 180);
    text-align: center;
}
th, tr {
    border: 1px solid rgb(70, 130, 180);
    padding: 5px;
    text-align: left;
    font-size: 21px;
}
thead {
    text-align: left;
}