h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6, mark, del, s, ins, small, em, u, strong, b, i, abbr, blockquote, ol, ul, li 
{
    color: #333333;
}

h1, .h1 {
    font-size: 2.5em;
}
h2, .h2 {
    font-size: 2em;
}
h3, .h3 {
    font-size: 1.8em;
}
h4, .h4 {
    font-size: 1.5em;
}
h5, .h5 {
    font-size: 1.3em;
}
h6, .h6 {
    font-size: 1em;
}